{{> head}}

{{> navbar}}

<div class="col-8">
    <h1>Lisa</h1>
    <p>
        Lorem Ipsum es un texto de marcador de posición comúnmente utilizado en las industrias gráficas, gráficas y editoriales para previsualizar diseños y maquetas visuales.
    </p>
</div>

<div class="col-4">
    <img src="assets/img/lisa.png" class="img-thumbnail">
</div>

{{>footer}}